body {
    background-image: url(imgs/background\ .jpeg);
    background-size: cover;
}

.title {
    margin: -150px;
}

.albumcover {
    position: relative;
    top: -800px;
    left: -70px;
}

.albumcover:hover {
    opacity: 20%;
}

.names {
    position: relative;
    top: -1000px;
    right: -470px;
}

.eminem {
    position: relative;
    top: -600px;
    right: -60px;
}

h2 {
    font-family: "viktorie", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 50px;

position: relative;
top: -140px;
left: -510px;
}

h3 {
font-family: "viktorie", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 50px;

position: relative;
top: -380px;
}

p {
    font-family: "felt-tip-woman", sans-serif;
    font-weight: 400;
    font-style: normal;
font-size: 27px;

position: relative;
top: -180px;
left: -500px;
}

.music {
    position: relative;
top: -400px;
}

.lyrics {
    position: relative;
    top: -420px;
    font-family: "felt-tip-woman", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size:24px; 
}

.last{
    font-size: 40px;
    font-weight: 700;
    padding: 0.5em 1em;
    color: #000000;
    background-color: transparent;
    border: transparent;
    border-radius: 5px;
    font-family: "viktorie", sans-serif;
    font-weight: 400;
    font-style: normal;

    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s; 
    position:relative; right:700px; top: -110px
}

.last:hover {
    transform: translateY(-10px);
}

.next{
    font-size: 40px;
    font-weight: 700;
    padding: 0.5em 1em;
    color: #000000;
    background-color: transparent;
    border: transparent;
    border-radius: 5px;
    font-family: "viktorie", sans-serif;
    font-weight: 400;
    font-style: normal;

    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s; 
    position:relative; left:700px; top: -225px
}

.next:hover {
    transform: translateY(-10px);
}

.home {
    font-size: 40px;
    font-weight: 700;
    padding: 0.5em 1em;
    color: #000000;
    background-color: transparent;
    border: transparent;
    border-radius: 5px;
    font-family: "viktorie", sans-serif;
    font-weight: 400;
    font-style: normal;

    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s; 
    position:relative;
    top: 5px;
}


.home:hover {
    transform: translateY(-10px);
}